
@{
    ViewData["Title"] = "Index";
}
@model Sol_TagHelper_Movie_Cart.ViewModel.MovieViewModel

<h1>Movie List</h1>

@*<movie-cart url="http://t1.gstatic.com/images?q=tbn:ANd9GcSSBjgn6nmJttwcTh0nmdTxJLyomVapLaColnlJZ9dXLjf-Y1tP" title="Kabir Singh" details="A house surgeon goes into a self-destructive spiral after his girlfriend is forced to marry another man."></movie-cart>*@

<movie-cart item-source="MovieList"></movie-cart>
